alabaster==0.7.12
audioread==2.1.6
Babel==2.6.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bleach==3.1.0
certifi==2018.11.29
chardet==3.0.4
configparser==3.7.1
cvxopt==1.2.3
cycler==0.10.0
decorator==4.3.2
defusedxml==0.5.0
docutils==0.14
entrypoints==0.3
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
idna==2.8
imagesize==1.1.0
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jams==0.3.2
Jinja2==2.11.3
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
librosa==0.6.1
llvmlite==0.27.1
MarkupSafe==1.1.0
matplotlib==2.2.2
mir-eval==0.4
mistune==0.8.4
msaf==0.1.70
nbconvert==5.4.1
nbformat==4.4.0
notebook>=5.7.8
numba==0.42.1
numpy==1.14.5
numpydoc==0.8.0
packaging==19.0
pandas==0.23.1
pandocfilters==1.4.2
pathlib2==2.3.3
pexpect==4.6.0
pickleshare==0.7.5
prometheus-client==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
pyzmq==18.0.0
qtconsole==4.4.3
requests==2.21.0
resampy==0.2.1
scandir==1.9.0
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
sortedcontainers==2.1.0
Sphinx==1.8.4
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.1.0
subprocess32==3.5.3
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
typing==3.6.6
urllib3==1.24.1
vmo==0.23.3
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
